@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --font-montserrat: 'Montserrat', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --font-playfair: 'Playfair Display', serif;
}

$font-principal: 'Montserrat', sans-serif;
$font-secondary: 'Inter', sans-serif;
$font-luxury: 'Playfair Display', serif;
